[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/vim-sensible"]
	path = vim/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
