# i3 config file (v4)
set $mod Mod4

# font
font pango:monospace 15

# floating modifier
floating_modifier Mod4

# orientation for new workspaces
default_orientation auto

# layout mode for new containers
workspace_layout stacking

# window title alignment
title_align center

# default border style for new windows
default_border pixel 10
default_floating_border pixel 10

# hiding borders adjacent to the screen edges
hide_edge_borders none

# focus follows mouse
focus_follows_mouse no

# automatic back-and-forth when switching to the current window
workspace_auto_back_and_forth yes

# i3bar
bar {
  # statusline command
  status_command i3status

  # tray padding
  tray_padding 0 px

  # position
  position top

  # minimal width for workspace buttons
  workspace_min_width 200

  # font
  font pango:DejaVu Sans Mono 12

  # custom separator symbol
  separator_symbol "|"
}

# splitting containers
bindsym $mod+y exec $HOME/dotfiles/bin/split-as-stacked horizontal
bindsym $mod+u exec $HOME/dotfiles/bin/split-as-stacked vertical

# manipulating layout
# bindsym $mod+t layout stacking
# bindsym $mod+p layout toggle split
bindsym $mod+f fullscreen

# focusing containers
bindsym $mod+n focus left
bindsym $mod+e focus down
bindsym $mod+i focus up
bindsym $mod+o focus right
bindsym $mod+comma focus parent
bindsym $mod+period focus child

# moving containers
bindsym $mod+shift+n move left
bindsym $mod+shift+e move down
bindsym $mod+shift+i move up
bindsym $mod+shift+o move right

# changing (named) workspaces/moving to workspaces
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10
bindsym $mod+b workspace back_and_forth

bindsym $mod+shift+1 move container to workspace 1
bindsym $mod+shift+2 move container to workspace 2
bindsym $mod+shift+3 move container to workspace 3
bindsym $mod+shift+4 move container to workspace 4
bindsym $mod+shift+5 move container to workspace 5
bindsym $mod+shift+6 move container to workspace 6
bindsym $mod+shift+7 move container to workspace 7
bindsym $mod+shift+8 move container to workspace 8
bindsym $mod+shift+9 move container to workspace 9
bindsym $mod+shift+0 move container to workspace 10
bindsym $mod+shift+b move container to workspace back_and_forth

# resizing containers/windows
mode "resize" {
  bindsym n resize grow left 5 px or 5 ppt
  bindsym e resize grow down 5 px or 5 ppt
  bindsym i resize grow up 5 px or 5 ppt
  bindsym o resize grow right 5px or 5 ppt
  bindsym shift+n resize shrink right 5 px or 5 ppt
  bindsym shift+e resize shrink up 5 px or 5 ppt
  bindsym shift+i resize shrink down 5 px or 5 ppt
  bindsym shift+o resize shrink left 5 px or 5 ppt

  bindsym Return mode "default"
  bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# reloading/restarting/exiting
bindsym $mod+shift+c reload
bindsym $mod+shift+r restart

# other keybindings
bindsym $mod+k kill
bindsym $mod+Return exec i3-sensible-terminal

# application mode
mode "application" {
  bindsym a exec atom ;; mode "default"
  bindsym c exec code ;; mode "default"
  bindsym e exec evince ;; mode "default"
  bindsym f exec firefox ;; mode "default"
  bindsym n exec nautilus ;; mode "default"
  bindsym i exec signal-desktop ;; mode "default"
  bindsym p exec spotify ;; mode "default"

  bindsym Return mode "default"
  bindsym Escape mode "default"
}

bindsym $mod+z mode "application"

# exit mode (https://samsaffron.com/archive/2019/04/09/my-i3-window-manager-setup)
mode "exit: [l]ogout, [r]eboot, [s]hutdown" {
  bindsym l exec i3-msg exit
  bindsym r exec systemctl reboot
  bindsym s exec systemctl shutdown
  bindsym Escape mode "default"
  bindsym Return mode "default"
}

bindsym $mod+x mode "exit: [l]ogout, [r]eboot, [s]hutdown"

# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock --nofork

# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet

# Use pactl to adjust volume in PulseAudio.
set $refresh_i3status killall -SIGUSR1 i3status
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status
