# i3status configuration file.

general {
    colors = true
    interval = 1
}

order += "cpu_usage"
order += "disk /"
order += "load"
order += "memory"
order += "cpu_temperature 0"
order += "wireless _first_"
order += "volume master"
order += "time"

cpu_temperature 0 {
	format = "🅃 %degrees°"
	path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input"
    separator = false
    separator_block_width = 25
}

cpu_usage {
    format = "🄲 %usage"
    separator = false
    separator_block_width = 25
}

disk / {
    format = "🄳 %used￨%percentage_used"
    prefix_type = "decimal"
    separator = false
    separator_block_width = 25
}

load {
    format = "🄻 %1min￨%5min￨%15min"
    separator = false
    separator_block_width = 25
}

memory {
    format = "🄼 %used￨%percentage_used"
    threshold_degraded = 10%
    threshold_critical = 5%
    separator = false
    separator_block_width = 25
}

time {
    format = "🅃 %Y-%m-%d %H:%M:%S (%a)"
    separator = false
    separator_block_width = 25
}

volume master {
    format = "🅅 %volume"
    format_muted = "🅅---%%"
    device = "default"
    mixer = "Master"
    mixer_idx = 0
    separator = false
    separator_block_width = 25
}

wireless _first_ {
    format_up = "🅆 %bitrate￨%quality"
    format_down = "down"
    format_quality = "%d%%"
    #separator = false
    separator_block_width = 50
}
